# 9.1 开始使用xlwings

### 1. 将Excel用作数据查看器

In [1]:
# 导入本章会用到的包
import datetime as dt
import xlwings as xw
import pandas as pd
import numpy as np

np.random.randn() 函数接受一个或多个整数参数，用于指定输出数组的形状。<br>
这些参数以元组的形式传入，例如 (m, n) 表示生成一个 m 行 n 列的二维数组。

In [2]:
# 创建一个基于伪随机数的DataFrame，它有足够多的行使得只有首尾几行会被显示
df = pd.DataFrame(data=np.random.randn(100, 5), 
                  columns=[f"Trial {i}" for i in range(1, 6)])
df

     Trial 1   Trial 2   Trial 3   Trial 4   Trial 5
0  -0.140514  0.209046  1.288993 -1.105821 -1.940887
1   0.872170  0.417211  0.930030  0.386069 -0.104185
2  -0.937877  0.721660  1.189258  0.084573 -2.652205
3  -0.293626  0.142654  1.038544  0.076910 -0.062654
4   0.659248 -0.333421  0.323143 -1.069728 -1.083725
..       ...       ...       ...       ...       ...
95 -1.195483 -1.315774  0.210942 -0.948537  0.271631
96  0.647741  2.231224 -0.574994  3.067135  0.230974
97  0.284196  2.176402  1.285905 -0.118289  0.067535
98 -1.247969  1.014234  0.916749  0.396737  0.014421
99 -0.251309  0.820142  0.364779 -1.626967 -0.007235

[100 rows x 5 columns]

view()函数可以接受所有常见的Python对象，包括数字、字符串、列表、字典、元组、NumPy数组和pandas DataFrame<br>
默认情况下，它会打开一个新的工作簿，然后将对象粘贴到第一张工作表的A1单元格<br>
它甚至会通过Excel的自动适应功能来调整列宽<br>
不必每次都打开一个新的工作簿，可以通过view()函数提供一个xlwings sheet对象作为第二个参数来重复利用同一个工作簿文件：xw.view(df, mysheet)

In [3]:
# 在Excel中查看DataFrame
xw.view(df)

### 2. Excel对象模型

app<em>【应用程序实例】</em>包含多个book<em>【工作簿】</em>的集合<br>
book<em>【工作簿】</em>包含多个sheet<em>【工作表】</em>的集合<br>
通过sheet<em>【工作表】</em>可以访问range对象和charts等集合<br>
range包含一个或多个连续的单元格作为其元素

<table align="left">
    <tr>
        <th>命令</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>xw.Book()</td>
        <td>返回代表活动的Excel实例中新的Excel工作簿的book对象;<br>
           如果没有活动的Excel实例，则会启动一个
        </td>
    </tr>
    <tr>
        <td>xw.Book("Book1")</td>
        <td>返回表示未保存的名为Book1（名称中不含文件扩展名）的工作簿的book对象</td>
    </tr>
    <tr>
        <td>xw.Book("Book1.xlsx")</td>
        <td>返回代表之前保存过的名为Book1.xlsx（名称中包含文件扩展名）的工作簿对象。<br>
           该文件必须是已打开的，或者位于当前的工作目录
        </td>
    </tr>
    <tr>
        <td>xw.Book(r"C:\path\Book1.xlsx")</td>
        <td>返回代表之前保存过的工作簿（完整文件路径）的对象。该文件可以是打开的也可以是关闭的。<br>
           路径字符串开头的r会将字符串转化为原始字符串，以便路径中的反斜杠（\）在Windows中按照字面进行解释
        </td>
    </tr>
    <tr>
        <td>xw.books.active</td>
        <td>返回代表活动的Excel实例中活动的工作簿的book对象</td>
    </tr>
</table>

In [4]:
# 创建一个新的空工作簿并打印其名称
book = xw.Book(r"xl/Book2.xlsx")
book.name

'Book2.xlsx'

In [5]:
# 访问工作表集合
book.sheets

Sheets([<Sheet [Book2.xlsx]Sheet1>])

In [6]:
# 通过索引或名称获取工作表对象
sheet1 = book.sheets[0]
sheet1 = book.sheets["Sheet1"]

In [7]:
sheet1.range("A1")

range方法是用来操作Excel单元格区域的
<table align="left">
    <tr>
        <th>引用</th>
        <th>描述</th>
    </tr>
    <tr>
        <td>"A1"</td>
        <td>单个单元格</td>
    </tr>
    <tr>
        <td>"A1:B2"</td>
        <td width="200px">从A1到B2的单元格区域</td>
    </tr>
    <tr>
        <td>"A:A"</td>
        <td>A列</td>
    </tr>
    <tr>
        <td>"A:B"</td>
        <td>A列到B列</td>
    </tr>
    <tr>
        <td>"1:1"</td>
        <td>1行</td>
    </tr>
    <tr>
        <td>"1:2"</td>
        <td>1行到2行</td>
    </tr>
</table>

In [8]:
# 最常见的任务：写入值
sheet1.range("A1").value = [[1, 2], 
                            [3, 4]]
sheet1.range("A4").value = "Hello！"

In [9]:
# 读取值
sheet1.range("A1:B2").value

[[1.0, 2.0], [3.0, 4.0]]

In [10]:
sheet1.range("A4").value

'Hello！'

In [11]:
# 索引
sheet1.range("A1:B2")[0, 0]

In [12]:
# 切片
sheet1.range("A1:B2")[:, 1]

In [13]:
# 单个单元格：A1表示法
sheet1["A1"]

In [14]:
# 多个单元格：A1表示法
sheet1["A1:B2"]

In [15]:
# 单个单元格：索引
sheet1[0, 0]

In [16]:
# 多个单元格：切片
sheet1[:2, :2]

<b>索引从0开始；range对象从1开始</b>

In [17]:
# 通过sheet索引访问D10
sheet1[9, 3]

In [18]:
# 通过range对象访问D10
sheet1.range((10, 4))

In [19]:
# 通过sheet切片访问D10:F11
sheet1[9:11, 3:6]

In [20]:
# 通过range对象访问D10：F11
sheet1.range((10, 4), (11, 6))

In [21]:
# 从range()对象【即(sheet["A1"])】自底向上得到app对象
sheet1["A1"].sheet.book.app

xw.name：返回 Excel 应用程序的简短名称（通常是 "Microsoft Excel"）。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;示例输出："Microsoft Excel"<br>

xw.fullname：返回 Excel 应用程序的完整名称（包含版本信息，如 "Microsoft Excel 365"）。<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;示例输出："Microsoft Excel 365"

In [22]:
# 从打开的工作簿中获取app对象，并创建一个额外的隐藏的app实例
visible_app = sheet1.book.app
invisible_app = xw.App(visible=False)

In [23]:
# 通过列表推导式列出各实例中打开的工作簿名称
[book.name for book in visible_app.books]

['工作簿1', 'Book2.xlsx']

In [24]:
[book.name for book in invisible_app.books]

['工作簿2']

In [25]:
# app的键待见进程ID（PID）
xw.apps.keys()

[736, 11472]

In [26]:
# 也可以通过pid属性访问
xw.apps.active.pid

736

In [27]:
# 处理隐藏的Excel实例中的工作簿
invisible_book = invisible_app.books[0]
invisible_book.sheets[0]["A1"].value = "Create by an invisible app."

In [28]:
# 将这个Excel工作簿保存在xl目录中
invisible_book.save("xl/invisible.xlsx")

In [29]:
# 退出隐藏的Excel实例
invisible_app.quit()

<table>
    <tr>
        <td>命令</td>
        <td>描述</td>
    </tr>
    <tr>
        <td>myapp.books.add()</td>
        <td>在myapp引用的Excel实例中创建一个新的Excel工作簿并返回对应的book对象</td>
    </tr>
    <tr>
        <td>myapp.books.open(r"C:\path\Book.xlsx")</td>
        <td>如果对应的book对象已打开就直接返回该对象，否则应该首先在myapp引用的Excel实例中打开该工作簿。<br>
            字符串开头的r会将字符串转化为原始字符串，以便路径中的反斜杠（\）在Windows中按照字面进行解释
        </td>
    </tr>
    <tr>
        <td>myapp.books["Book1.xlsx"]</td>
        <td>如果对应的工作簿已打开就直接返回该book对象。如果未打开会引发KeyError错误。<br>
            一定要使用文件名而非完整路径。如果想知道一个工作簿是否已经在Excel中打开，就可以使用该命令
        </td>
    </tr>
</table>

# 9.2 转换器、选项和集合

### 9.2.1 处理DataFrame

In [30]:
data = [["Mark", 55, "Italy", 4.5, "Europe"], 
        ["John", 33, "USA", 6.7, "America"]]
df = pd.DataFrame(data=data, 
                  columns=["name", "age", "country", "score", "continent"], 
                  index=[1001, 1000])
df.index.name = "user_id"
df

         name  age country  score continent
user_id
1001     Mark   55   Italy    4.5    Europe
1000     John   33     USA    6.7   America

In [31]:
sheet1["A6"].value = df

去掉列标题或索引（也可以同时去掉两者），可使用options方法

In [32]:
sheet1["B10"].options(header=False, index=False).value = df

expand方法可以方便地读取一块连续的单元格

In [34]:
df2 = sheet1["A6"].expand().options(pd.DataFrame).value
df2

         name   age country  score continent
user_id
1001.0   Mark  55.0   Italy    4.5    Europe
1000.0   John  33.0     USA    6.7   America

若需要整数索引，可修改其数据类型

In [35]:
df2.index = df2.index.astype(int)
df2

         name   age country  score continent
user_id
1001     Mark  55.0   Italy    4.5    Europe
1000     John  33.0     USA    6.7   America

通过设置index=False，Excel文件中的所有值都会被保存到DataFrame的数据部分且使用默认索引